
@{
    ViewBag.Title = "Home";
}


<div class="well">
    <h1>MySql Simple</h1>

    <h3>Simplifying processes in your <b>.NET Core MVC</b> application</h3>

    <div class="buttons row">
            <a class="col-sm-4 btn btn-lg btn-default" target="_blank" href="https://www.nuget.org/packages/NetCore.Simple/1.0.2-Beta">Go to Nuget page</a>
            <a class="col-sm-4 btn btn-lg btn-default" href="@Url.Action("Index", "Docs")#installation">Installation Instructions</a>
            <a class="col-sm-4 btn btn-lg btn-default" href="@Url.Action("Index", "Docs")#code-connection">Read Documentation</a>
    </div>

</div>



<div id="code-sample">
    @Html.Partial("../Docs/_Sample.cshtml")
</div>
